.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 300px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___description p {
  font-size: 22px;
  font-weight: 800;
  background: #ffdfa7;
  padding: 10px;
}